<%= form_for @cloud, :html => {:multipart => true} do |f| %>
  <% if @cloud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloud.errors.count, "error") %> prohibited this cloud from being saved:</h2>

      <ul>
      <% @cloud.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :remote_document_url, "Paste In A Web Page URL" %><br />
    <%= f.text_field :remote_document_url %>
  </div>
  <h3 id="or" class="command">OR</h3>
  <div class="field">
    <%= f.label :document, "Upload A Document" %><br />
    <%= f.file_field :document %>
  </div>

  <div class="actions">
    <%= f.submit "Create!", :class => "button" %>
  </div>
<% end %>
