<% content_for :head do %>
<%= javascript_include_tag "jquery.zoomy.min.js" %>
<%= javascript_include_tag "raphael-min.js" %>
<%= javascript_include_tag "helvetica.js" %>
<% end %>

<% if !@cloud.previewed_at %>
<div id="cloud_preview">
  <div id="cloud_preview_loading" data-id="<%= @cloud.id %>">
  </div>
</div>
<% else %>
<div id="cloud_preview">
  <% if !@cloud.error %>
  <%= link_to image_tag(@cloud.preview_url(:small)), @cloud.preview_url, :class => "zoom" %>
  <% else %>
    <%= image_tag(Cloud.preview_error_url) %>
  <% end %>
</div>

<% end %>


<%= link_to 'Create Another Cloud', new_cloud_path %>
